[Desktop Entry]
Name=Pardus Gnome Shortcut
GenericName=Pardus Gnome Shortcut
Comment=Pardus Gnome Shortcut, show or hide Pardus / Gnome Shortcuts
Exec=pardus-gnome-shortcut
Icon=pardus-gnome-shortcut
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
Keywords=Pardus, Pardus Gnome Shortcut, Pardus Gnome Tweak