[Desktop Entry]
Name=Pardus Shortcuts
Name[tr]=Pardus Kısayollar
GenericName=Pardus Shortcuts
GenericName[tr]=Pardus Kısayollar
Comment=Pardus Shortcuts
Comment[tr]=Pardus Kısayollar
Exec=pardus-gnome-shortcuts
Icon=pardus-gnome-shortcuts
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
Keywords=Pardus, Pardus Shortcuts, Pardus Gnome Shortcuts, Kısayollar, Pardus Kısayollar