[Desktop Entry]
Name=Pardus Gnome Shortcuts
Name[tr]=Pardus Gnome Kısayollar
GenericName=Pardus Gnome Shortcuts
GenericName[tr]=Pardus Gnome Kısayollar
Comment=Pardus Gnome Shortcuts
Comment[tr]=Pardus Gnome Kısayollar
Exec=pardus-gnome-shortcuts
Icon=pardus-gnome-shortcuts
Terminal=false
Type=Application
Categories=Settings;X-Pardus-Apps;
StartupNotify=true
Keywords=keyboard;key;shortcuts;
Keywords[tr]=klavye;tuş;kısayollar;
