Source: pardus-gnome-shortcut
Section: utils
Priority: optional
Maintainer: Osman Coskun <osman.coskun@pardus.org.tr>
Build-Depends: debhelper (>= 12), python3, python3-setuptools
Standards-Version: 0.0.1
Homepage: https://github.com/pardus/pardus-gnome-shortcuts

Package: pardus-gnome-shortcut
Architecture: all
Depends: ${misc:Depends}, 
         python3 (>= 3.6)
Description: Pardus Gnome Shortcut show or hide Pardus / Gnome Shortcuts
