.shortcutbox {
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 13px;
}

window {
    background: rgba(90, 34, 139, 0.95);
    background-size: cover;
    border: 20px solid rgba(90, 34, 139, 0.5);
    border-radius: 10px;
}

.mainbox {
    border-radius: 10px;
}


label {
    color: white;
}

.title {
    font-size: x-large
}

.box {
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}